a, li, p, h1, h2, h3, h4, h5{
    text-decoration: none;
}

#main{
    margin: 60px 0px 0px 0px;
    padding: 20px 0px;
    width: 90%;
    overflow: hidden;
}

.sec{
    padding: 0px 0px 80px;
}

.head-o-sec{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.more-at-head{
    display: inline-block;
    width: auto;
    margin-right: 10px;
}

.more-chips{
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-chip-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 35px;
    border-radius: 20px;
    color: var(--theme-color-2);
    border: 1px var(--theme-color-4) solid;
}

.navigator-chips{
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.more-finder{
    width: 70px;
    cursor: pointer;
}

.more-chip-btn:hover{
    color: var(--theme-color-5);
    background-color: var(--theme-color-4);
}

.more-chip-btn span{
    padding: 10px;
    text-align: center;
}

.head-written{
    display: grid;
    color: var(--theme-color-2);
    text-align: left;
}

.sec-heading{
    font-family: 'Roboto', sans-serif;
    grid-row: 1;
    grid-column: 2;
}
.sec-disp{
    color: inherit;
    font-weight: 500;
    grid-row: 2;
    grid-column: 2;
}
    
@media screen and (max-width:768px) {
    #main{
        margin: 60px 0px 0px 0px;
        padding: 20px 0px 0px 20px ;
        width: 100%;
        overflow: hidden;
    }
    
    .sec{
        padding: 20px 0px;
    }
    
    .head-written{
        display: grid;
        color: var(--theme-color-2);
    }
    .sec-heading{
        font-family: 'Roboto', sans-serif;
        grid-row: 1;
        grid-column: 2;
    }
    .sec-disp{
        grid-row: 2;
        grid-column: 2;
    }
}