
header{
    width: 100%;
    height: var(--nav-bar-height);
    display: inline-block;
    position: fixed;
    top: 0;
    padding: 0px 20px;
    user-select: none;
    z-index: 99;
}
nav{
    display: flex;
    height: inherit;
    width: inherit;
    align-items: center;
}

nav div,li, p{
    font-weight: 600;
}

.site-logo{
    margin-right: auto;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.nav-items{
    margin-left: auto;
    margin-right: auto;

    list-style: none;
    display: flex;
}

.item{
    display: inline-block;
    color: var(--theme-color-4);
}

/* property keeping hide icons in laptop screen */
.item>div>span{
    display: none;
}

.item div{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}
.item div:hover{
    color: #fff
}
.selected-item{
    color: var(--theme-color-1);
}
.search-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* this is keeping search icon   */
#search-sec>span{
    display: block;
}
#search-screen{
    width: 50%;
}

.account-sec{
    margin-left: auto;

    display: flex;
    height: inherit;
    width: auto;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.account-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: auto;
    aspect-ratio: 1/1;
    overflow: hidden;
    object-fit: cover;
    border: 1px solid #00000029;
    border-radius: 20px;
    cursor: pointer;
}

.account-btn .account-dp{
    height: inherit;
    width: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

    
@media screen and (max-width:768px) {

    header{
        height: 60px;
        padding: 0px 20px;
        box-shadow: 5px -5px 5px #00000022;
    }

    nav{}

    nav div,li, p{
        font-weight: 600;
    }

    .site-logo{}

    .nav-items{
        margin-left: auto;
        margin-right: auto;

        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .item{
        display: inline-block;
        color: var(--theme-color-4);
    }

    .item>div>span{
        display: block;
    }
    /* property keeping hide icons in laptop screen */
    .item>div>label{
        display: none;
    }

    .item div{
        display: flex;
        height: 60px;
        justify-content: center;
        align-items: center;
        padding: 0px 20px;
    }
    .item div:hover{
        color: #000
    }
    .selected-item{
        color: var(--theme-color-1);
    }
    .search-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .account-sec{
        margin-left: auto;

        display: flex;
        height: inherit;
        width: max-content;
        
        justify-content: center;
        align-items: center;
    }

    .account-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: auto;
        aspect-ratio: 1/1;
        overflow: hidden;
        object-fit: cover;
        border: 1px solid #00000029;
        border-radius: 20px;
        cursor: pointer;
    }

    .account-btn .account-dp{
        height: inherit;
        width: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    #search-screen{
        width: 100%;
    }
}

/* search-screen */
.inactive{
display: none;
}
.active{
display: flex;
}

#search-screen{
align-items: center;
justify-content: center;
flex-direction: column;
position: fixed;
height: auto;
margin: 10px 0px 0px 0px;
z-index: 99;
margin-left: auto;
margin-right: auto;
}
.search-box{
height: 50px;
width: 100%;
padding: 10px;
border: 1px #707070 solid;
}
.recent-searches-sec{
list-style-type: none;
padding: 10px 0px;
width: 100%;
background-color: white;
border: 1px #707070 solid;
}
.searched-item{
display: grid;
grid-template-columns: 30px auto 30px; 
grid-gap: 5px;
align-items: center;
padding: 0px 10px;
height: 50px;
}

.searched-item-text{
text-align: left;
}

.searched-item:hover{
background-color: var(--theme-color-5);
}

.search-item-del{
padding: 0;
border: none;
background: none;
color: inherit;
font: inherit;
line-height: normal;
cursor: pointer;
outline: none;
}