@media screen and (min-width: 768px) {
    .search-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* this is keeping search icon   */
    #search-sec>span{
        display: block;
    }

    #search-screen{
        width: 50%;
    }
}
    
@media screen and (max-width:768px) {
    .search-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #search-screen{
        width: 100%;
    }
}

#search-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    height: auto;
    margin: 10px 0px 0px 0px;
    z-index: 99;
    margin-left: auto;
    margin-right: auto;
}
.search-box{
    height: 50px;
    width: 100%;
    padding: 10px;
    background-color: var(--theme-color-3);
    color: var(--theme-color-1);
    border: 1px var(--theme-color-1) solid;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    outline: none;
}
.recent-searches-sec{
    list-style-type: none;
    padding: 10px 0px;
    width: 100%;
    background-color: var(--theme-color-3);
    color: var(--theme-color-1);
    border: 1px #707070 solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.searched-item{
    display: grid;
    background-color: var(--theme-color-3);
    grid-template-columns: 30px auto 30px; 
    grid-gap: 5px;
    align-items: center;
    padding: 0px 10px;
    height: 50px;
}

.searched-item-text{
    text-align: left;
}

li.searched-item:hover{
    background-color: var(--theme-optionlist-1);
    color: var(--theme-color-1);
}

.search-item-del{
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    outline: none;
}