.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: -webkit-radial-gradient(30vw 0%, circle closest-corner, #1B1A0F 0%, #071519 30vw, rgb(0, 0, 0) 50vw);
}
