/* default design */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root{
    --theme-color-1: #ffffff;
    --theme-color-2: #ffffff;
    --theme-color-3: #000000;
    --theme-color-4: #5f5f5f;
    --theme-color-5: #d8d8d8;
    --theme-color-4-trans: #5f5f5f60;

    --theme-shadow-1: #0c0c0c;

    --theme-optionlist-1: #0b0b0b;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* outline: red 1px dashed; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  min-width: 450px; 
  /* background-color: var(--theme-color-3); */
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
